// Media-width
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//     Fonts
$font-text: 'Roboto', sans-serif;

//     Colors
$color-primary-text: #000000;
$color-border: rgb(0, 0, 0);
$color-secondary-text: #8c8c8c;
$color-footer-text: #545454;
$color-background: #ffffff;
$color-grey: #c6c6c6;
$color-footer-background: #f7f7f7;
$color-accent: #ff6b08;
$color-current-underline: #ff001b;
$color-overlay-modal: rgba(0, 0, 0, 0.25);
$color-btn-trailer: rgba(255, 255, 255, 0.3);
$color-overlay-header: rgba(0, 0, 0, 0.56);
$color-overlay-sign: rgba(0, 0, 0, 0.95);
$color-tui-border: #ddd;
$color-tui-border-selected: #4b96e6;
$white: #ffff;
$orange: #ff9800;

//     Shadows
$shadow-modal-sign-in: 5px 5px 20px #450c15, -5px -5px 20px #450c15;
$shadow-btn-trailer: 3px 3px 10px #450c15, -3px -3px 10px #450c15;

//     Transition properties
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$timing-function-search: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
