<section class="gallery">
  <div class="gallery__container container">
    <ul class="gallery__list"></ul>
  </div>
</section>

<!-- <li class="gallery__item">
  <div class="id" hidden></div>
  <div class="thumb">
    <img src="https://image.tmdb.org/t/p/w500${item.poster_path}" alt="${item.title}" width="280" />
  </div>
  <div class="gallery__info-wrapper">
    <p class="gallery__title"></p>
    <div class="gallery__info"><span class="genres-and-year"></span><span class="rating"></span></div>
  </div>
</li> -->
