<header class="header js-header">
  <div class="header__container container js-container">
    <div class="header__wrapper js-wrapper">
      <div class="header__logo js-logo">
        <img class="header__logo-icon" src="./images/header/logo.svg" width="24" height="24" alt="logo" />
        <h1 class="header__title">Filmoteka</h1>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item js-home">
            <p class="header__nav-link">Home</p>
          </li>
          <li class="header__nav-item js-library">
            <p class="header__nav-link">My library</p>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header__form">
      <div class="header__input-wrapper js-input">
        <input class="header__input" type="text" placeholder="Movie search" name="searchFilm" autocomplete="off" />
        <button class="search-button" type="submit"></button>
        <p class="header__input-info" hidden>Search result not successful. Enter the correct movie name and</p>
      </div>
      <div class="library-button">
        <button class="watched-button js-watched visually-hidden" type="button">Watched</button>
        <button class="queue-button js-queue visually-hidden" type="button">Queue</button>
      </div>
    </form>
  </div>
</header>
