<header class="header">
  <div class="header__container container">
    <div>
      <div class="header__logo">
        <a href="#" class="header__link" data-logo>
          <img class="header__logo-icon" src="./images/header/logo.svg" width="24" height="24" alt="logo" />
          <h1 class="header__title">Filmoteka</h1>
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#favorites">Home</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#subscribe">My library</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header__form">
      <input type="text" placeholder="Movie search" />
      <button class="film-watched" type="submit">Watched</button>
      <button class="film-queue" type="submit">Queue</button>
    </form>
  </div>
</header>
