<!-- <div class="backdrop is-hidden" data-modal>
  <div class="backdrop__modal" data-modal2>
    <div class="modal__film-card">
      <img class="modal__card-img img" src="./images/favicon/android-chrome-192x192.png" alt="preview of film" width="375" height="478" />
      <div class="modal__card">
        <h3 class="modal__card-title">A Fistful of Lead</h3>
        <ul class="modal__card-list list">
          <li class="card__item">
            <h4 class="card__item-title">Vote / Votes</h4>
            <p class="card__item-vote">7.3</p>
            <span class="card__item-slash">/</span>
            <p class="card__item-votes">1260</p>
          </li>

          <li class="card__item">
            <h4 class="card__item-title">Popularity</h4>
            <p class="card__item-popularity">100.2</p>
          </li>
          <li class="card__item">
            <h4 class="card__item-title">Original Title</h4>
            <p class="card__item-original">A FISTFUL OF LEAD</p>
          </li>
          <li class="card__item">
            <h4 class="card__item-title">Genre</h4>
            <p class="card__item-genre">Western</p>
          </li>
        </ul>
        <h4 class="card__item-about">About</h4>
        <p class="card__item-about__text card__item-text">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But
          not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen
          across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
          realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?
        </p>

        <ul class="card__btn-list list">
          <li class="card__btn-item">
            <button class="card__btn js-add-watched add-watched-button">add to Watched</button>
          </li>
          <li class="card__btn-item">
            <button class="card__btn js-add-queue add-queue-button">add to queue</button>
          </li>
        </ul>
      </div>
    </div>
    <button class="modal__close" type="button" data-modal-close>
      <svg class="modal__svg" width="30" height="30">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
  </div>
</div> -->
