<form class="checkbox__form">
  <div class="checkbox__form--date">
    <label for="check__date">
      <input class="checkbox__date--input visually-hidden" type="checkbox" id="check__date" />
      <svg class="checkbox-icon" width="16" height="15">
        <use class="checkbox__icon--uncheck" href="./images/sprite.svg#icon-uncheck"></use>
        <use class="checkbox__icon--check" href="./images/sprite.svg#icon-check"></use>
      </svg>
      <span class="checkbox__date--text"> Sort by date </span>
    </label>
  </div>

  <div class="checkbox__form--rating">
    <label for="check__rating">
      <input class="checkbox__rating--input visually-hidden" type="checkbox" id="check__rating" />
      <svg class="checkbox-icon" width="16" height="15">
        <use class="checkbox__icon--uncheck" href="./images/sprite.svg#icon-uncheck"></use>
        <use class="checkbox__icon--check" href="./images/sprite.svg#icon-check"></use>
      </svg>
      <span class="checkbox__rating--text"> Sort by rating </span>
    </label>
  </div>
</form>
