.watched-button,
.queue-button {
  display: flexbox;
  width: 130px;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 0;
  padding-left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  text-align: center;

  color: $color-background;
  background-color: transparent;

  border: 1px solid $color-background;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color $timing-function;

  @media screen and (min-width: ($tablet)) {
    width: 152px;
  }

  @media screen and (min-width: ($desktop)) {
    width: 148px;
  }

  &.current {
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }

  &.hidden {
    display: none;
  }
}

.search-button {
  position: absolute;
  top: -8px;
  right: -9px;
  width: 36px;
  height: 36px;
  padding: 0;
  padding: 12px;
  border: none;
  color: $color-background;
  background-color: transparent;
  cursor: pointer;

  transition: background-color $timing-function-search transform $timing-function-search;

  &.ready {
    color: $color-current-underline;
  }

  &.scale {
    animation-name: scaleSearch;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
  }
}

.btn_trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.btn_text {
  width: 70px;
}

.btn_trailer {
  position: absolute;
  left: 30px;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 2;

  padding: 5px;

  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.33;
  color: $color-primary-text;

  background: $color-btn-trailer;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow-btn-trailer;
  cursor: pointer;

  text-transform: uppercase;

  transition: background-color $timing-function, color $timing-function;

  @media screen and (min-width: $tablet) {
    left: 45px;
    top: 50px;
    font-size: 10px;
    line-height: 1.33;
  }

  @media screen and (min-width: $desktop) {
    left: 20px;
    top: 50px;
    font-size: 12px;
    line-height: 1.33;
  }
}

.btn_trailer:hover,
.btn_trailer:focus {
  background: $color-accent;
  color: $color-background;
}
