.watched-button,
.queue-button {
  display: block;
  width: 130px;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 0;
  padding-left: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  text-align: center;

  color: $color-background;
  background-color: transparent;

  border: 1px solid $color-background;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color $timing-function;

  @media screen and (min-width: ($tablet)) {
    width: 152px;
  }
  @media screen and (min-width: ($desktop)) {
    width: 148px;
  }

  &.current {
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }
}

.search-button {
  position: absolute;
  top: -8px;
  right: -9px;
  width: 36px;
  height: 36px;
  padding: 0;
  padding: 12px;
  border: none;
  color: $color-background;
  background-color: transparent;
  cursor: pointer;

  transition: background-color $timing-function-search transform $timing-function-search;

  &.ready {
    color: $color-current-underline;
  }
  &.scale {
    animation-name: scaleSearch;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
  }
}
