
 .checkbox__form {
  display: flex;
  align-items: center;
  justify-content: center;
  }
.checkbox-icon {
  position: absolute;
  left: 15px;
  bottom: 10px;

  fill: #ffffff;
  transition: fill 250ms $timing-function;
}

.checkbox__date--input:checked + .checkbox-icon .checkbox__icon--uncheck {
  opacity: 0;
  transition: opacity 250ms $timing-function;
}

.checkbox__rating--input:checked + .checkbox-icon .checkbox__icon--uncheck {
  opacity: 0;
  transition: opacity 250ms $timing-function;
}

.checkbox__icon--check {
  opacity: 0;
  transition: opacity 250ms $timing-function;

  .checkbox__date--input:checked + .checkbox__icon & {
    opacity: 1;
  }

  .checkbox__rating--input:checked + .checkbox__icon & {
    opacity: 1;
  }
}

.checkbox__date--text,
.checkbox__rating--text {
  font-size: 12px;
  line-height: 1.17;

  color: #ffffff;
  user-select: none;

  text-underline-position: under;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

 