.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
}

.sorting__btn--by-date,
.sorting__btn--by-rating {
  display: block;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  text-align: center;

  color: $color-primary-text;
  background-color: transparent;

  border: 1px solid $color-primary-text;
  border-radius: 30px;

  cursor: pointer;
}

// .checkbox-icon {
//   position: absolute;
//   left: 15px;
//   bottom: 10px;

//   fill: #ffffff;
//   transition: fill 250ms $timing-function;
// }

// .checkbox__date--input:checked + .checkbox-icon .checkbox__icon--uncheck {
//   opacity: 0;
//   transition: opacity 250ms $timing-function;
// }

// .checkbox__rating--input:checked + .checkbox-icon .checkbox__icon--uncheck {
//   opacity: 0;
//   transition: opacity 250ms $timing-function;
// }

// .checkbox__icon--check {
//   opacity: 0;
//   transition: opacity 250ms $timing-function;

//   .checkbox__date--input:checked + .checkbox__icon & {
//     opacity: 1;
//   }

//   .checkbox__rating--input:checked + .checkbox__icon & {
//     opacity: 1;
//   }
// }

// .checkbox__date--text,
// .checkbox__rating--text {
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.17;

//   color: $color-accent;
//   user-select: none;

//   text-underline-position: under;

//   @media screen and (min-width: 1200px) {
//     font-size: 14px;
//     line-height: 1.71;
//   }
// }
