.basicLightbox {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

.basicLightbox__placeholder {
  position: relative;
}

.team-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -7%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: auto;
  padding: 20px 10px;
  border-radius: 15px;

  background-color: $orange;

  @media screen and (min-width: 768px) {
    width: 600px;
    transform: translate(-50%, -20%);
    border-radius: 25px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    transform: translate(-50%, -50%);
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.team-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -50%);
  margin-bottom: 10px;
  width: 105px;
  height: auto;
  border-radius: 50%;
  border: 5px solid darkgray;
}

.image-bg {
  position: relative;
  background-image: url(../images/footer/modalfon.png);
  height: 160px;
  width: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.team-title {
  color: $color-primary-text;
  text-align: center;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: 5px;
}

.team-text {
  color: $white;
  font-size: 24px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team-card {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.team-name {
  position: relative;
  margin-bottom: 5px;
  color: $color-primary-text;
  font-weight: 700;
}

.team-role {
  position: relative;
}
