.gallery__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;

  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: ($tablet)) {
    row-gap: 32px;
    column-gap: 32px;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: ($desktop)) {
    row-gap: 32px;
    column-gap: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__item {
  cursor: pointer;

  @media screen and (min-width: ($tablet)) {
    flex-basis: calc((100% - 32px * 1) / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: ($desktop)) {
    flex-basis: calc((100% - 16px * 2) / 3);
  }
}

.thumb {
  border-radius: 5px;
  min-width: 280px;
  height: 398px;
  overflow: hidden;

  @media screen and (min-width: ($tablet)) {
    min-width: 336px;
    height: 495px;
  }

  @media screen and (min-width: ($desktop)) {
    min-width: 394px;
    height: 574px;
  }
}

.gallery__info-wrapper {
  font-weight: 500;
  margin-top: 8px;
  font-size: 12px;
  line-height: calc(16 / 12);

  @media screen and (min-width: ($desktop)) {
    margin-top: 12px;
  }
}

.gallery__title {
  color: #000000;
}

.genres-and-year {
  margin-right: 9px;
  color: #ff6b08;

  @media screen and (min-width: ($desktop)) {
    margin-right: 8px;
  }
}

.rating {
  color: #fff;
  background: #ff6b08;
  border-radius: 5px;
  padding: 1px 6px;

  @media screen and (min-width: ($tablet)) {
    padding: 1px 10px;
  }

  @media screen and (min-width: ($desktop)) {
    padding: 3px 12px;
  }
}
